
body{
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.testimonial-conatiner{
    height: 300px;
    width: 500px;
    background-color: azure;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
    padding: 70px 20px;
    margin: 5px;
    color: rgb(14, 14, 14);
    position: relative;
}

.user-image{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -50px;
    
}

.user-name{
    font-size: 15px;
    font-weight: 100;
}